body.bbPress #page .bbp-admin-links a {
padding:4px;
}

body.bbPress #page .bbp-admin-links a:hover {
color:#579dd2;
}

body.bbPress #page h2.page-title {
padding-left:0!important;
}

body.bbPress #page .forum-widgets .forum-widgets-more {
position:relative;
top:-16px;
left:15px;
width:400px;
}

body.bbPress #page .forum-widgets .forum-widget {
float:left;
display:block;
width:400px;
padding:30px 15px;
}

body.bbPress #page .forum-widgets .forum-widget h3 {
font-size:16px;
text-transform:uppercase;
letter-spacing:.5px;
font-weight:700;
border-bottom:1px solid #F2F2F2;
padding-bottom:2px;
margin-bottom:10px;
}

body.bbPress #page .forum-widgets .forum-widget ul {
list-style-type:none;
margin:2px 0;
}

body.bbPress #page .forum-widgets .forum-widget ul li {
padding-bottom:8px;
border-bottom:1px solid #F2F2F2;
margin:5px 0;
}

body.bbPress #page .forum-widgets .forum-widget ul li a {
font-style:normal!important;
font-size:14px;
color:#686868;
margin-top:0!important;
text-decoration:none;
padding:0 0 10px!important;
}

body.bbPress #page .forum-widgets .forum-widget ul li a:hover {
text-decoration:underline;
}

body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-forum-title,body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-reply-topic-title {
display:block;
font-weight:700;
padding:7px 0!important;
}

body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-author-avatar,body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-author-name {
padding:4px 0;
}

#bbpress-forums .bbp-breadcrumb {
	display:block;
	background-color:#fff!important;
	color:#686868!important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:0;
	width:50%;

	margin:15px 0;

}

#bbpress-forums .bbp-breadcrumb p {
margin-bottom:0!important;
font-size:12px;
font-weight:700;
line-height:22px;
}

#bbpress-forums .bbp-breadcrumb a {
color:#475255;
font-size:12px;
font-weight:700;
}

#bbpress-forums .bbp-topic-tags a {
text-decoration:none;
}

#bbpress-forums li.bbp-header {
background-color:#fff;
color:#272727;
background:#eaeaea;
padding:12px!important;
}

#bbpress-forums li.bbp-header .bbp-reply-content span {
color:#579DD2;
}

#bbpress-forums li.bbp-header .bbp-reply-content span a {
font-weight:400;
text-decoration:none;
font-size:12px!important;
}

#bbpress-forums ul li ul.forum-titles li {
text-transform:uppercase;
}

#bbpress-forums ul li ul.forum-titles li.bbp-forum-freshness {
position:relative;
}

#bbpress-forums li.bbp-body ul.forum {
padding:20px!important;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info {
margin-top:5px;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info a {
font-size:18px;
color:#292723;
text-decoration:none;
font-weight:400;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info .bbp-forum-content p {
font-style:normal!important;
font-size:14px!important;
color:#686868;
margin-top:0!important;
padding:0 0 10px!important;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness a:first-child {
margin-left:22px;
color:#222;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness p span.bbp-topic-freshness-author a {
color:#222;
}

#bbpress-forums li.bbp-body ul.topic {
padding:8px 8px 8px 12px !important;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title a.bbp-topic-permalink {
font-size:18px;
color:#292723;
text-decoration:none;
font-weight:700;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title p.bbp-topic-meta {
margin:0!important;
padding:5px 0 0!important;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-voice-count {
background-color:#F3F3F3;
font-size:24px;
height:41px;
margin-top:4px;
padding-top:9px;
width:7%;
margin-left:11px;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-reply-count {
background-color:#F3F3F3;
font-size:24px;
height:41px;
margin-top:4px;
padding-top:9px;
width:7%;
margin-left:30px;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness a:first-child {
margin-left:22px;
color:#686868!important;
}

#bbpress-forums li.bbp-body .topic .bbp-reply-author img.avatar {
display:block;
width:50px;
height:50px;
background-color:#EBEDEE;
border:1px solid #D9DADB;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
padding:5px;
}

#bbpress-forums .bbp-reply-author {
border-right:1px solid #F2F2F2;
width:110px!important;
}

#bbpress-forums .bbp-reply-author img.avatar {
display:block;
width:50px;
height:50px;
background-color:#EBEDEE;
border:1px solid #D9DADB!important;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
padding:5px!important;
}

#bbpress-forums .bbp-template-notice p.bbp-topic-description {
color:#222;
font-size:14px!important;
padding:0!important;
}

#bbpress-forums .bbp-pagination .page-numbers {
background-color:#fff;
border:1px solid #E3E7EA;
margin-right:2px;
font-weight:700;
padding:5px 9px 4px;
}

#bbpress-forums .bbp-pagination a.page-numbers {
color:#686868;
text-decoration:none;
font-weight:700;
}

#bbpress-forums .bbp-pagination a.page-numbers:hover {
background-color:#F2F2F2;
text-decoration:none;
}

#bbpress-forums fieldset.bbp-form {
border:1px solid #ddd!important;
background-color:#fff;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
clear:left;
margin-bottom:10px;
padding:10px 20px;
}

#bbpress-forums fieldset.bbp-form legend {
font-size:16px;
position:relative;
text-transform:uppercase;
font-weight:700;
padding:11px!important;
}

#bbpress-forums fieldset.bbp-form input {
border:1px solid #E3E7EA;
background-color:#fff;
font-size:14px;
padding:5px;
}

#bbpress-forums fieldset.bbp-form select {
width:346px!important;
}

#bbpress-forums fieldset.bbp-form p {
font-size:14px!important;
color:#686868;
margin-top:0!important;
padding:0!important;
}

#bbpress-forums fieldset.bbp-form .bbp-submit-wrapper {
float:left!important;
}

#bbpress-forums fieldset.bbp-form .bbp-submit-wrapper button {
font-size:16px!important;
padding:6px 15px!important;
}

.bbp-reply-content a,.bbp-reply-content div,.bbp-reply-content li,.bbp-reply-content ol,.bbp-reply-content p,.bbp-reply-content ul {
font-size:14px!important;
line-height:1.5em!important;
}

.bbp-reply-content h2,.bbp-reply-content h3,.bbp-reply-content h4,.bbp-reply-content h5,.bbp-reply-content h6 {
line-height:1.1em!important;
}

.bbp-reply-content h2 {
font-size:23px;
}

.bbp-reply-content h3 {
font-size:21px;
}

.bbp-reply-content h4 {
font-size:19px;
}

.bbp-reply-content h5 {
font-size:17px;
}

.bbp-reply-content h6 {
font-size:15px;
}

.bbp-reply-content ul li {
list-style-type:disc!important;
margin-left:18px!important;
}

.bbp-reply-content ol li {
list-style-type:decimal!important;
margin-left:18px!important;
}

.bbp-reply-content p {
padding:12px 0;
}

.bbp-reply-content blockquote {
background-color:#f0f7fa;
margin:12px 12px 12px 48px;
padding:24px;
}

.bbp-reply-content blockquote p {
font-style:italic!important;
font-size:15px!important;
color:#505050!important;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count {
background-color:#333;
color:#fff;
font-size:18px;
height:50px;
line-height:40px;
margin-left:24px;
width:70px;
padding:5px;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count {
background-color:#333;
color:#fff;
font-size:18px;
height:50px;
line-height:40px;
margin-left:35px;
width:70px;
padding:5px;
}

#bbpress-forums hr {
margin:0 0 24px;
}

#bbpress-forums {
background:0 0;
clear:both;
margin-bottom:20px;
overflow:hidden;
font-size:12px;
}

#bbpress-forums div.even,#bbpress-forums div.odd,#bbpress-forums ul.even,#bbpress-forums ul.odd {
background-color:#fff;
}

#bbpress-forums div.reply {
height:auto;
}

#bbpress-forums div.bbp-reply-header,#bbpress-forums div.bbp-topic-header {
background-color:#f4f4f4;
}

#bbpress-forums .status-spam.even,#bbpress-forums .status-trash.even {
background-color:#fee;
}

#bbpress-forums .status-spam.odd,#bbpress-forums .status-trash.odd {
background-color:#fdd;
}

#bbpress-forums .status-closed,#bbpress-forums .status-closed a {
color:#ccc;
}

#bbpress-forums ul {
list-style:none;
margin:0;
padding:0;
}

#bbpress-forums li {
list-style:none;
margin:0;
}

#bbpress-forums ul.bbp-forums,#bbpress-forums ul.bbp-lead-topic,#bbpress-forums ul.bbp-replies,#bbpress-forums ul.bbp-topics {
font-size:12px;
overflow:hidden;
border:1px solid #F2F2F2;
margin-bottom:20px;
clear:both;
}

#bbpress-forums li.bbp-body,#bbpress-forums li.bbp-footer,#bbpress-forums li.bbp-header {
clear:both;
}

#bbpress-forums li.bbp-footer,#bbpress-forums li.bbp-header {
background:#f3f3f3;
border-top:3px solid #F2F2F2;
font-weight:700;
text-align:center;
padding:8px;
}

#bbpress-forums li.bbp-header ul {
overflow:hidden;
}

#bbpress-forums .bbp-forums-list {
padding-left:15px;
border-left:1px solid #ddd;
margin:0 0 0 5px;
}

#bbpress-forums .bbp-forums-list li {
display:inline;
font-size:11px;
}

#bbpress-forums li.bbp-footer p {
line-height:1em;
margin:0;
}

#bbpress-forums .bbp-reply-content img,#bbpress-forums .bbp-topic-content img {
max-width:100%;
}

#bbpress-forums .bbp-reply-content ul,#bbpress-forums .bbp-topic-content ul {
list-style:square;
padding-left:15px;
}

#bbpress-forums .bbp-forum-content p {
font-style:italic;
margin:5px 0 0;
}

li.bbp-forum-info,li.bbp-topic-title {
float:left;
text-align:left;
width:55%;
}

li.bbp-forum-reply-count,li.bbp-forum-topic-count,li.bbp-topic-reply-count,li.bbp-topic-voice-count {
float:left;
text-align:center;
width:10%;
}

li.bbp-forum-freshness,li.bbp-topic-freshness {
text-align:left;
float:left;
width:25%;
}

#bbpress-forums li.bbp-body ul.forum,#bbpress-forums li.bbp-body ul.topic {
border-top:1px solid #F2F2F2;
overflow:hidden;
}

#bbpress-forums div.bbp-reply-author,#bbpress-forums div.bbp-topic-author {
float:left;
text-align:center;
width:115px;
}

#bbpress-forums div.bbp-reply-author img.avatar,#bbpress-forums div.bbp-topic-author img.avatar {
border:none;
max-width:80px;
float:none;
margin:12px auto 0;
padding:0;
}

#bbpress-forums div.bbp-reply-author a.bbp-author-name,#bbpress-forums div.bbp-topic-author a.bbp-author-name {
word-break:break-word;
margin:0 12px;
}

#bbpress-forums div.bbp-reply-author .bbp-author-role,#bbpress-forums div.bbp-topic-author .bbp-author-role {
font-size:11px;
font-style:italic;
}

#bbpress-forums div.bbp-reply-content,#bbpress-forums div.bbp-topic-content {
margin-left:140px;
text-align:left;
padding:12px 12px 12px 0;
}

#bbpress-forums li.bbp-footer .bbp-reply-author,#bbpress-forums li.bbp-footer .bbp-topic-author,#bbpress-forums li.bbp-header .bbp-reply-author,#bbpress-forums li.bbp-header .bbp-topic-author {
float:left;
width:120px;
margin:0;
padding:0;
}

#bbpress-forums li.bbp-footer .bbp-reply-content,#bbpress-forums li.bbp-footer .bbp-topic-content,#bbpress-forums li.bbp-header .bbp-reply-content,#bbpress-forums li.bbp-header .bbp-topic-content {
margin-left:140px;
text-align:left;
padding:0;
}

div.bbp-reply-header,div.bbp-topic-header,li.bbp-body div.hentry {
margin-bottom:0;
overflow:hidden;
padding:8px;
}

div.bbp-reply-header,div.bbp-topic-header {
border-top:1px solid #ddd;
clear:both;
}

span.bbp-author-ip {
font-family:'Helvetica Neue',Arial,Helvetica,'Nimbus Sans L',sans-serif;
font-size:11px;
font-weight:700;
color:#aaa;
}

div.bbp-breadcrumb,div.bbp-topic-tags {
font-size:12px;
}

span.bbp-admin-links {
float:right;
color:#ddd;
}

span.bbp-admin-links a {
color:#bbb;
font-weight:400;
font-size:10px;
text-transform:uppercase;
text-decoration:none;
}

tr td span.bbp-admin-links a:hover {
color:#ff4b33;
}

td.bbp-topic-admin-links,td.bbp-topic-counts {
width:50%;
}

.bbp-reply-header a.bbp-reply-permalink,.bbp-topic-header a.bbp-topic-permalink {
float:right;
margin-left:10px;
color:#ccc;
}

#bbpress-forums p.bbp-topic-meta {
font-size:11px;
margin:5px 0;
}

#bbpress-forums p.bbp-topic-meta span {
white-space:nowrap;
}

.bbp-pagination {
float:left;
width:100%;
margin-bottom:15px;
}

.bbp-topic-pagination {
display:inline-block;
margin-left:5px;
margin-bottom:2px;
}

.bbp-topic-pagination a {
font-size:10px;
line-height:10px;
border:1px solid #ddd;
text-decoration:none;
padding:1px 3px;
}

#bbpress-forums fieldset.bbp-form label {
display:inline-block;
margin:0;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,#bbp-login fieldset label,#bbp-lost-pass fieldset label,#bbp-register fieldset label {
width:100px;
}

#bbpress-forums fieldset.bbp-form input,#bbpress-forums fieldset.bbp-form p,#bbpress-forums fieldset.bbp-form select,#bbpress-forums fieldset.bbp-form textarea {
margin:0 0 8px;
}

textarea#bbp_forum_content,textarea#bbp_reply_content,textarea#bbp_topic_content {
width:97%;
box-sizing:border-box;
}

textarea#bbp_forum_content {
height:210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
width:200px;
float:right;
clear:none;
margin-left:25px;
}

#bbpress-forums fieldset select#bbp_forum_id {
max-width:200px;
}

.bbp-reply-form,.bbp-topic-form,.bbp-topic-tag-form {
clear:left;
}

body.reply-edit .bbp-reply-form div.avatar img,body.single-forum .bbp-topic-form div.avatar img,body.single-reply .bbp-reply-form div.avatar img,body.topic-edit .bbp-topic-form div.avatar img {
margin-right:0;
border:1px solid #ddd;
line-height:0;
background-color:#efefef;
padding:10px;
}

body.page .bbp-reply-form code,body.page .bbp-topic-form code,body.reply-edit .bbp-reply-form code,body.single-forum .bbp-topic-form code,body.single-topic .bbp-reply-form code,body.topic-edit .bbp-topic-form code {
font-size:10px;
background-color:#f0fff8;
border:1px solid #CEEFE1;
display:block;
margin-top:5px;
width:369px;
padding:8px;
}

#delete_tag,#merge_tag {
display:inline;
}

div.bbp-submit-wrapper {
margin-top:15px;
float:right;
clear:both;
}

p.form-allowed-tags {
width:462px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
border:1px solid #CCC;
width:100%;
font-size:12px;
margin:0;
}

#bbpress-forums div.bbp-the-content-wrapper table,#bbpress-forums div.bbp-the-content-wrapper tbody,#bbpress-forums div.bbp-the-content-wrapper td,#bbpress-forums div.bbp-the-content-wrapper tr {
border:none;
width:auto;
line-height:1em;
margin:0;
padding:0;
}

#bbpress-forums div.bbp-the-content-wrapper input {
font-size:12px;
line-height:1em;
margin:0;
padding:5px;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
min-height:26px;
padding:5px;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
padding:4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
line-height:0;
margin:0;
padding:0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
line-height:16px;
}

#bbpress-forums #bbp-your-profile fieldset {
padding:20px 20px 0;
}

#bbpress-forums #bbp-your-profile fieldset div {
margin-bottom:20px;
float:left;
width:100%;
clear:left;
}

#bbpress-forums #bbp-your-profile fieldset select {
margin-bottom:0;
}

#bbpress-forums #bbp-your-profile fieldset input,#bbpress-forums #bbp-your-profile fieldset textarea {
margin-bottom:0;
width:60%;
background:#f9f9f9;
border:1px solid #ddd;
box-shadow:none;
border-radius:0;
padding:5px 8px;
}

#bbpress-forums #bbp-your-profile fieldset input:focus,#bbpress-forums #bbp-your-profile fieldset textarea:focus {
border:1px solid #ccc;
box-shadow:inset 1px 1px 1px rgba(0,0,0,.1);
outline-color:rgba(240,255,240,.1);
}

#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
width:auto;
}

#bbpress-forums #bbp-your-profile fieldset label[for] {
float:left;
width:20%;
text-align:right;
cursor:pointer;
padding:5px 20px 5px 0;
}

#bbpress-forums #bbp-your-profile fieldset dl label[for] {
text-align:left;
width:60%;
}

#bbpress-forums #bbp-your-profile fieldset span.description {
font-size:12px;
font-style:italic;
float:left;
clear:left;
width:60%;
border:#cee1ef 1px solid;
background-color:#f0f8ff;
margin:5px 0 0 20%;
padding:5px 8px;
}

#bbpress-forums #bbp-your-profile fieldset fieldset {
border:none;
clear:none;
float:none;
margin:0;
padding:0;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password {
width:60%;
display:inline;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password input,#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
width:100%;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
margin-left:0;
margin-bottom:20px;
}

div.bbp-template-notice,div.indicator-hint {
border-radius:0;
background-color:#ffffe0;
color:#222;
clear:both;
border-color:#e6db55;
border-style:solid;
border-width:1px;
margin:5px 0 15px;
padding:0 .6em;
}

div.bbp-template-notice a {
color:#555;
text-decoration:none;
}

div.bbp-template-notice a:hover {
color:#292723;
}

div.bbp-template-notice.info {
border:#cee1ef 1px solid;
background-color:#f0f8ff;
}

div.bbp-template-notice.important {
border:#e6db55 1px solid;
background-color:#fffbcc;
}

div.bbp-template-notice.error,div.bbp-template-notice.warning {
background-color:#ffebe8;
border-color:#c00;
}

div.bbp-template-notice.error a,div.bbp-template-notice.warning a {
color:#c00;
}

div.bbp-template-notice p {
font-size:12px;
line-height:140%;
margin:.5em 0 6px!important;
padding:2px;
}

.bbp-forum-content ul.sticky,.bbp-topics ul.sticky,.bbp-topics ul.super-sticky,.bbp-topics-front ul.super-sticky {
background-color:#ffffe0!important;
font-size:1.1em;
}

#bbpress-forums .bbp-reply-revision-log,#bbpress-forums .bbp-topic-revision-log {
border-top:1px dotted #ddd;
list-style:none;
width:100%;
font-size:11px;
color:#aaa;
margin:0;
padding:8px 0 0;
}

.bbp-login-form .bbp-email input,.bbp-login-form .bbp-password input,.bbp-login-form .bbp-username input {
padding:5px;
}

.bbp-login-form label {
width:140px;
display:inline-block;
}

#sidebar .bbp-login-form label {
width:70px;
}

.bbp-login-form .bbp-email,.bbp-login-form .bbp-password,.bbp-login-form .bbp-remember-me,.bbp-login-form .bbp-submit-wrapper,.bbp-login-form .bbp-username {
margin-top:10px;
}

.bbp-login-form .bbp-submit-wrapper {
text-align:right;
}

.bbp-login-form .bbp-login-links a {
float:left;
clear:left;
}

.bbp-logged-in img.avatar {
float:left;
margin:0 15px 0 0;
}

.bbp-logged-in h4 {
font-weight:700;
font-size:1.3em;
clear:none;
margin-bottom:10px;
}

#bbpress-forums .widget_display_replies img.avatar,#bbpress-forums .widget_display_topics img.avatar,#bbpress-forums div.bbp-template-notice img.avatar,#bbpress-forums p.bbp-topic-meta img.avatar,#bbpress-forums ul.bbp-reply-revision-log img.avatar,#bbpress-forums ul.bbp-topic-revision-log img.avatar {
float:none;
margin-bottom:5px;
border:3px double #ddd;
}

.activity-list li.bbp_reply_create .activity-content .activity-inner,.activity-list li.bbp_topic_create .activity-content .activity-inner {
border-left:2px solid #eaeaea;
margin-left:5px;
padding-left:10px;
}

#bbpress-forums h1 {
clear:none;
font-size:1.8em;
line-height:1em;
padding-bottom:10px;
}

#bbpress-forums #bbp-user-wrapper {
float:left;
width:100%;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
font-size:1.4em;
padding-bottom:10px;
padding-top:0;
clear:none;
margin:0;
}

#bbpress-forums #bbp-user-wrapper fieldset.bbp-form,#bbpress-forums #bbp-user-wrapper ul.bbp-forums,#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,#bbpress-forums #bbp-user-wrapper ul.bbp-replies,#bbpress-forums #bbp-user-wrapper ul.bbp-topics {
clear:none;
}

#bbpress-forums #bbp-single-user-details {
width:150px;
float:left;
overflow:hidden;
margin:0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
width:150px;
margin:0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
border:none;
height:150px;
width:150px;
margin:0 0 20px;
padding:0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
float:none;
margin-left:180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
float:none;
margin:0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
display:block;
border:1px solid transparent;
text-decoration:none;
padding:5px 8px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
background:#F2F2F2;
opacity:.8;
}

#bbpress-forums #bbp-user-body {
margin-left:180px;
}

body.my-account #bbpress-forums {
border-top:none;
padding-top:0;
margin-bottom:0;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover {
color:#fff;
}

#bbpress-forums dl.bbp-user-capabilities {
display:inline-block;
vertical-align:top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
text-transform:capitalize;
margin:0 0 10px;
}

#bbpress-forums dl.bbp-user-capabilities dd {
margin:0;
padding:0;
}

#bbpress-forums div.row-actions {
font-size:11px;
visibility:hidden;
}

#bbpress-forums li:hover>div.row-actions {
visibility:visible;
}

body.bbPress #page .bbp-admin-links a a,#bbpress-forums .bbp-pagination {
padding:0;
}

#bbpress-forums .bbp-topic-tags p,#bbpress-forums li.bbp-body .bbp-reply-content p {
font-style:normal!important;
font-size:14px;
color:#686868;
margin-top:0!important;
padding:0 0 10px!important;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness p span.bbp-topic-freshness-author a img,#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness p span.bbp-topic-freshness-author a img {
margin-left:6px!important;
}

#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title p.bbp-topic-meta a,#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness p span.bbp-topic-freshness-author a {
color:#686868!important;
}

#bbpress-forums .bbp-template-notice p.bbp-forum-description,#bbpress-forums .bbp-template-notice p {
font-size:14px!important;
padding:0!important;
}

.bbp-reply-content ul,.bbp-reply-content ol {
margin:0;
padding:12px 0!important;
}

li.bbp-header div.bbp-reply-content span#favorite-toggle,li.bbp-header div.bbp-reply-content span#subscription-toggle,li.bbp-header div.bbp-topic-content span#favorite-toggle,li.bbp-header div.bbp-topic-content span#subscription-toggle,div.bbp-topic-tags,.bbp-pagination-links,#bbpress-forums #bbp-your-profile fieldset.submit button,fieldset div.avatar {
float:right;
}

div.bbp-breadcrumb,fieldset span.bbp-admin-links,.bbp-pagination-count {
float:left;
}

#bbpress-forums div.bbp-breadcrumb p,#bbpress-forums div.bbp-topic-tags p,#bbpress-forums div.bbp-the-content-wrapper {
margin-bottom:10px;
}

.bbp-topic-action #favorite-toggle a,.bbp-topic-action #subscription-toggle a {
text-decoration:none;
color:#7c7;
border:1px solid #aca;
background-color:#dfd;
font-weight:700;
font-size:13px;
padding:0 3px 1px;
}

.bbp-topic-action #favorite-toggle a:hover,.bbp-topic-action #subscription-toggle a:hover {
color:#5a5;
background-color:#beb;
border-color:#7c7;
}

.bbp-topic-action #favorite-toggle span.is-favorite a,.bbp-topic-action #subscription-toggle span.is-subscribed a {
color:#faa;
border:1px solid #faa;
background-color:#fee;
}

.bbp-topic-action #favorite-toggle span.is-favorite a:hover,.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
color:#c88;
background-color:#fdd;
border-color:#c88;
}

#bbpress-forums #bbp-your-profile fieldset legend,.bbp-login-form fieldset legend {
display:none;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl,#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
margin:0;
}

#bbp_search_submit.btn-default {
	padding: 9px 12px;
	margin-bottom: 4px;
}

.bbp-search-form {
    float: right;
    width: 45%;
}

#bbpress-forums .form-control {
	display: inline-block !important;
	width: 80% !important;
}
