@charset "utf-8";
.sidebarMenu {
	position:fixed;
	top:0px;
	right:-250px;	
	height: 100%;
	width: 250px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #262626),
		color-stop(1, #2E2E2E)
	);
	background-image: -o-linear-gradient(bottom, #262626 0%, #2E2E2E 100%);
	background-image: -moz-linear-gradient(bottom, #262626 0%, #2E2E2E 100%);
	background-image: -webkit-linear-gradient(bottom, #262626 0%, #2E2E2E 100%);
	background-image: -ms-linear-gradient(bottom, #262626 0%, #2E2E2E 100%);
	background-image: linear-gradient(to bottom, #262626 0%, #2E2E2E 100%);
	border-right: solid 2px #0D0F0F;
	z-index: 89999;
}
.sidebarMenu .buttonsidebar {
	position: absolute;
	height: 20px;
	width: 20px;
	left: -40px;
	top: 58px;
	padding: 2px 0px;
	border-radius: 4px; 
	z-index: 109999;
}
.sidebarMenu .buttonsidebar a {
	display: block;
	height: 100%;
	font-size:24px;
	width: 100%;
}
.sidebarMenu .buttonsidebar a:before {
color:#fff;
content:"\f0c9";
display:inline-block;
font-family:FontAwesome;
}
.sidebarMenu ul {
	position: absolute;
	width: 100%;
	display: block;
	top:45px;
	overflow: hidden;
}     
.sidebarMenu div.submenu {
	position: relative;
}
.sidebarMenu div.subbarMenu {
	position: absolute; 
}
.sidebarMenu h3 {
	display: block;
	position: absolute;
	width: 228px; 
	left: 5px;
	top: 10px;
	font-size:1.0em;
	font-weight: normal;
	color:#838383; 
}
.sidebarMenu .back {
	position: absolute;
	height: 32px;
	width: 32px;
	top:10px;
	left: 0px;
	opacity: 0.7;
	z-index: 9000;
}
.sidebarMenu .back a {
	display: block;
	height: 100%;
	width: 100%;
	background: url(images/back.svg) center no-repeat;
	background-size: 28px; 
}
/* Items */  
.sidebarMenu ul li {
	position:relative;
	width:100%;
	display:block;  
	margin-top: 2px;
	list-style:none;
	overflow:visible;
	float:left; 
}
.sidebarMenu ul li a {
	display:block; 
	width: 100%;
	padding: 10px 3px 10px 28px; 
	font-size: 14px;
	color:#fff;
	text-shadow: 1px 1px #000000;
	outline:none; 
}
.sidebarMenu .active {
	background-color: #12CADE !important;
	text-decoration: none;
	opacity: 1.0;
} 
.sidebarMenu ul li a:hover {
	text-decoration: none;
}
.sidebarMenu .back:hover {
	opacity: 1.0;
} 
/* Subitems */
.sidebarMenu .subm {  
	display: none;
}
/* Icons */
.sidebarMenu a.icon1 {
	background: url(icons/box.svg) 3px 8px no-repeat;
	background-size: 20px;
}
.sidebarMenu a.icon2 {
	background: url(icons/world.svg) 3px 7px no-repeat;
	background-size: 20px;

}
.sidebarMenu a.icon3 {
	background: url(icons/contact.svg) 7px 9px no-repeat;
	background-size: 20px;

}