
/* MIN 1920px */

	@media only screen and (min-width: 1920px){

		
	}

/* MAX 1185px For Paddings */

	@media only screen and (max-width: 1199px){
	#slidediv .menu li a, .yamm .navbar-nav > li > a {
		padding-left:2px;	
	}
	.yamm .custom-menu span {
		padding-left: 10px !important;
	}
	}

/* MAX 1150px */

	@media only screen and (max-width: 1150px){

	}

/* MAX 1024px */

	@media only screen and (max-width: 1024px){

	}
	
/* MIN 1000px */

	@media only screen and (min-width: 1000px){


	}	

/* MAX 1000px */

	@media only screen and (max-width: 1000px){
		.navbar-right {
			float:none !important;
			margin-top:20px;
		}
		#header-container {
			padding-top:0 !important;
		}

	}

/* MAX 960px */

	@media only screen and (max-width: 960px){


	}

/* MAX 800px */

	@media only screen and (max-width: 768px){
		
#header-container.affix .yamm .navbar-nav > li > a {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.yamm .navbar-nav > li > a {
	padding:12px 20px !important;
}
.yamm .yamm-content {
    padding: 0px 20px !important;
}
.navbar-nav > li > .dropdown-menu li {
	padding:5px !important;
}
.yamm-fw .column {padding:0 10px !important}
	.navbar-collapse {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #333333),
		color-stop(1, #313131)
	);
	background-image: -o-linear-gradient(bottom, #333333 0%, #313131 100%);
	background-image: -moz-linear-gradient(bottom, #333333 0%, #313131 100%);
	background-image: -webkit-linear-gradient(bottom, #333333 0%, #313131 100%);
	background-image: -ms-linear-gradient(bottom, #333333 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #333333 0%, #313131 100%);
}
.yamm .dropdown-submenu > .dropdown-menu {
    left: auto !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    top: 0;
    border-top: 0 !important;
	background:#851445 !important;
}


	}


/* MAX 640px */

	@media only screen and (max-width: 640px){


	}

/* MAX 560px */

	@media only screen and (max-width: 560px){


	}

/* MAX 480px */

	@media only screen and (max-width: 480px){


	}

/* MAX 400px */

	@media only screen and (max-width: 400px){

	.navbar-brand img {
		width:80%;
	}
	
	.navbar-brand {
		padding:18px 5px !important;
	}

	}